.App {
  width: 100vw;
  min-height: 100vh;
  /* background-image: linear-gradient(
    to left bottom,
    #000046,
    #002f73,
    #005a9c,
    #0087c0,
    #1cb5e0
  ); */
  background-image: linear-gradient(to top, #412279, #391f6f, #321c65, #2b185c, #241552, #1f144a, #1b1343, #17113b, #151034, #130f2d, #120d26, #100b1f);

}
h1 {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
