@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.containForm {
  display: flex;
  width: 400px;
  min-height: 500px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
  border-radius: 20PX;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 20px 10px;
}

.sectionInput {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Righteous", sans-serif;
  color: rgba(255, 255, 255, 0.98);
}

.sectionInput input {
  min-width: 250px;
  height: 23px;
  padding-left: 5px;
  background-color: #ebe0FF;
  border:none;
  border-radius: 40px;
  font-family: "Lato", sans-serif;
  align-items: center;
  color: black;
  font-weight: bold;
}

.sectionInput input::placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.inputText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 80px;
  text-align: center;
}

.selectInput {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.listaSelect {
  width: 150px;

}

.formSelect {
    background-color: rgba(253, 21, 40, 0.507);
    height: 25px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    padding: 0 8px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

span {
    font-size: 15px;
    color: rgb(197, 57, 2);
    font-style: oblique;
}

.btnSave{
    padding: 7px 13px;
    border-radius: 20px;
    border: none;
    background-color: #5102b0;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btnSave::after, .btnSave::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background-color: #5102b0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:  transform 0.3s ease;
}

.btnSave:hover {
    transform: translate(-10px,-10px);
}
.btnSave:hover::after{
    transform: translate(6px,6px);
}
.btnSave:hover::before{
    transform: translate(10px,10px);
}


ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: white ;  
}
